.slider__block {
   margin: 77px 0;
}
.slider__heading {
   margin-left: 73px;
   margin-bottom: 50px;
   color: #000000;
   font-size: 24px;
   line-height: 24px;
   font-weight: 500;
}
.slider__wrapper {
   display: flex;
   flex-direction: column;
   max-width: calc(100% - 97px * 2);
   flex-basis: 100%;
   margin: 0px 0px 0px 102px;
}
.slick-next {
   width: 58px !important;
   height: 58px !important;
   z-index: 1;
}

.slick-next::before {
   content: url("../../assets/arrow.svg") !important;
   width: 58px;
   height: 58px;
}
.slick-prev {
   width: 58px !important;
   height: 58px !important;
   left: -58px !important;
   z-index: 1;
   transform: rotate(180deg) translate(0, 50%) !important;
}
.slick-prev::before {
   content: url("../../assets/arrow.svg") !important;
   width: 58px;
   height: 58px;
}


@media screen and (max-width: 1439px){
   .slider__wrapper {
      max-width: calc(100% - 60px * 2);
      margin:  0px 60px 0px 7vw;
   }
}

@media screen and (max-width: 1199px) {
   .slider__wrapper {
      margin: 0px 60px 0px 9vw;
  }
}
@media screen and (max-width: 1023px) {
   .slider__wrapper {
      margin: 0px 0 0 60px;
   }
   .slider__block {
      margin: 30px 0;
   }
}
/* Mobile and Tablet*/
@media screen and (max-width: 768px) {
   .slider__block {
      margin: 30px 0;
   }
   .slider__wrapper {
      max-width: 100%;
      margin: 12px 0 0 24px;
   }
   .slider__heading {
      margin: 0 12px 12px 27px;
      font-size: 22px;
      line-height: 24px;
      font-weight: 500;
   }
}
